body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: #ff69b4; /* rosa */
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #ff69b4; /* rosa */
}

input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #ff69b4; /* rosa */
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ff1493; /* rosa mais forte */
}

.resultado {
    margin-top: 20px;
}

.resultado p {
    margin-bottom: 5px;
}
